* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    background-color: royalblue;
}

@media only screen and (width:auto) {
    html, body, #root {
        height: auto;
    }
}

.clearfix {
    content: "";
    clear: both;
    display: flex;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    margin: 50px;
}

.battery-animation {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px;
    border: 2px solid #000;
    border-radius: 25px;
    width: 300px;
    height: 100px;
    background-color: gray;
}

.min {
    display: flex;
    margin: 15px;
    background-color: red;
    border-radius: 25px;
    height: 30px;
    padding: 5px;
}

.medium {
    display: flex;
    margin: 15px;
    background-color: yellow;
    border-radius: 25px;
    height: 30px;
    padding: 5px;
}

.max {
    display: flex;
    margin: 15px;
    background-color: yellowgreen;
    border-radius: 25px;
    height: 30px;
    padding: 5px;
}

.max-stop {
    display: flex;
    margin: 15px;
    background-color: green;
    border-radius: 25px;
    height: 30px;
    padding: 5px;
}

.procent {
    font-family: sans-serif;
    font-weight: bold;
    color: black;
}

.button-animation {
    display: flex;
    flex-direction: row;
}

.battery-inspect {
    border: 2px solid #000;
    border-radius: 25px;
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    margin: 50px;
    width: auto;
    height: 30px;
}

.battery-inspect:hover {
    color: greenyellow;
    cursor: pointer;
}

#battery-details {
    margin: 50px;
    font-family: sans-serif;
    font-weight: bold;
    color: #000;
}