* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

.clearfix {
    content: "";
    clear: both;
    display: flex;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #000;
    margin: 50px;
}

.battery-animation {
    width: 500px;
    height: 250px;
    margin: 50px;
}

.battery-inspect {
    border: 2px solid #000;
    border-radius: 25px;
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    margin: 50px;
}

.battery-inspect:hover {
    color: greenyellow;
    cursor: pointer;
}

#battery-details {
    margin: 50px;
    font-family: sans-serif;
    font-weight: bold;
    color: #000;
}